@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f1f1f1;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "Otomanopee One";
  src: url("../assets/fonts/OtomanopeeOne-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Poppins", sans-serif;
}

svg path {
  transition: fill 0.2s ease-in-out;
}

@media (max-width: 1355px) {
  .hide-below-1355 {
    display: none;
  }
}